<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>
</head>
<body>
    
       
    <a href="/" style="color: white">Home</a>&nbsp;<a href="/" style="color: white">about</a>
    <div class="head_box">
        <h1>Customer Check In Predictify</h1>
    </div>
    
    <div class="inner_box">
    <b><h3 > I predicted which customer going to check in next</34><br><br></b>
    <p  > And Here are the <a href="/results" style="color:rgb(255, 255, 255)">results</a> </p>
    </div>
   


    
</body>
</html>